<div class="contact">
  <h2>What's that you say???</h2>
  <div class="form-box">
    <form name="contact-form" class="contact-form" method="POST" data-netlify="true">
      <input type="hidden" name="form-name" value="contact-form" />
      <label>Name: </label>
      <input type="text" name="name" class="input" />
      <label>Email:</label>
      <input type="email" name="email" class="input" required />
      <label>Message</label>
      <textarea name="message" class="textarea" placeholder="Yo Dawg, I heard you liked text..."></textarea>
      <button type="submit">Submit Dawg</button>
    </form>
  </div>
</div>
